.selectCards {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.selected {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
    /* border: solid; */
    /* border-width: 2px; */
    border-radius: 50px;
    /* border-color: #BFBFBF; */
    background: blue;
    background-image: url('./check.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.unselected {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
    /* border: solid; */
    /* border-width: 2px; */
    border-radius: 50px;
    /* border-color:#BFBFBF; */
    background: #BFBFBF;
}