.head {
  height: 200px;
  background-color: white;
}

.font-bold {
  font-weight: bold;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.category-item {
  height: 24px;
  line-height: 24px;
  border-radius: 0;
  margin: 0px 0px;
  margin-bottom: 12px;
  padding: 0px 4px;
  border-radius: 4px;
}

#category-box {
  background-color: white;
  flex-wrap: nowrap;
  padding-top: 12px;
  border-radius: 4px;
  user-select: none;
}

.show {
  height: 72px;
  transition: all 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
}

.hidden {
  overflow: hidden;
  height: 36px;
  transition: all 0.3s;
}